{% extends 'base.html.twig' %}

{% block body %}

    <main role="main">
        <section id="welcome">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wel_header">
                            <h2>welcome to USTH application</h2>
                            <p class="mb-5"> A web application for the representation of molecule in 3D.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="album py-5 bg-light">
                <div class="container">
                           
                    <div class="row">
                        <div class="card-deck mb-4 text-center">
                            {% for molecule in molecules %}
                                <div class="col-md-4">
                                    <div class="card mb-4 box-shadow">
                                        <div class="card-header">
                                            <h4 class="my-0 font-weight-normal">{{ molecule.name }}</h4>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title pricing-card-title">{{ molecule.scientificName }}</h5>
                                            <hr>
                                            <p class="card-text mb-4">{{ molecule.description|length > 80 ? molecule.description|slice(0, 80) ~ ' ...' : molecule.description  }}
                                            </p>
                                            <a class="btn btn-lg btn-block btn-primary hvr-back-pulse" href="{{ path('molecules_name', {'id':  molecule.id}) }}">See More</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>




        </section>



    </main>

{% endblock %}