{% extends 'baseAdmin.html.twig' %}

{% block body %}

    <div class="container">
        {% for us in user %}
            <h3>{{ us.username }}</h3>
            <h3>{{ us.password }}</h3>
        {% endfor %}
    </div>


 {% endblock %}