{% extends 'baseAdmin.html.twig' %}

{% block body %}

    <div class="container">
        <h2>Dernieres molecules ajoutées</h2>


            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}


    </div>
{% endblock %}
